.menuItemContainer {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.menuItemImage {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.menuItemName {
  font-size: 24px;
  font-weight: bold;
}

.menuItemIcon {
  margin-right: 10px;
}

.menuItemDescription {
  font-size: 16px;
  color: #666;
}

.menuItemPrice {
  font-size: 18px;
  color: #333;
}

.available .menuItemIcon {
  color: lightseagreen;
}

.fewLeft .menuItemIcon {
  color: orange;
}

.notAvailable .menuItemIcon {
  color: crimson;
}

.seasonal .menuItemIcon {
  color: blue;
}
