/* MovieListItem.module.css */
.movieItem {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: calc(50% - 10px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;

  display: flex;
  justify-content: center;
  align-items: center;
}

.movieItem:hover {
  transform: scale(1.05);
}
